@*
    // Copyright (c) Microsoft Corporation.
    // Licensed under the MIT license.
*@

@using Contoso.FraudProtection.Web.Helpers
@using Contoso.FraudProtection.Web.ViewModels.Account
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model CustomAssessmentViewModel
@{
    ViewData["Title"] = "Custom Assessment";
}

<div class="container">
    <form asp-controller="Account" method="post" class="form-horizontal">
        @Html.HiddenFor(m => m.DeviceFingerPrinting.SessionId)

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-xs-12">
                <section>
                    <h3>Custom Assessment</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div>Use <b>@@deviceFingerprintingId</b> in your request to have it replaced with the DFP Fingerprinting session ID.</div>
                                    <div>Use <b>@@deviceIpAddress</b> in your request to have it replaced with the client's IP address.</div>
                                    <div>Use <b>@@guid</b> in your request to have it replaced with a randomly generated GUID.</div>
                                    <div>Use <b>@@utcNow</b> in your request to have it replaced with the current time in UTC (ISO 8601 format).</div>
                                </div>
                            <div class="card-body">
                                <pre>
{
    ...
    "deviceFingerprinting": {
        "id": "<b>@@deviceFingerprintingId</b>",
        "ipAddress": "<b>@@deviceIpAddress</b>",
        ...
    }
    ...
}</pre>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="ApiName">API Name</label>
                            @Html.TextBoxFor(model => model.ApiName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12" style="margin-top: 10px">
                            <label for="Payload">Payload</label>
                            @Html.TextAreaFor(model => model.Payload, new { @class = "form-control", Style = "height:150px" })
                        </div>
                    </div>
                    <div class="form-group">  
                        <div class="col-xs-12" style="margin-top: 10px">
                            <label>Version</label>
                            <label for="V2">V2</label>
                            @Html.RadioButtonFor(model => model.Version, EndpointVersion.V2, new { id = "V2" })
                            <label for="V1">V1</label>
                            @Html.RadioButtonFor(model => model.Version, EndpointVersion.V1, new { id = "V1" })
                        </div>
                    </div>  
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="submit" asp-action="CustomAssessment"
                                    class="btn esh-basket-checkout"
                                    value="[Send Assessment]" name="action" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<partial name="_DeviceFingerPrinting" model="Model.DeviceFingerPrinting" />