@*
    // Copyright (c) Microsoft Corporation.
    // Licensed under the MIT license.
*@

@using Contoso.FraudProtection.Web.Helpers
@using Contoso.FraudProtection.Web.ViewModels.Account
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container account-login-container">
    <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" onsubmit="setUpClientDetails()">
        @Html.HiddenFor(m => m.FingerPrintingDC)
        @Html.HiddenFor(m => m.ClientCoutnryCode)
        @Html.HiddenFor(m => m.ClientDate)
        @Html.HiddenFor(m => m.ClientTimeZone)
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-md-12">
                <section>
                    <div class="col-md-6">
                        <h3>User Profile</h3>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="firstName">First Name</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="lastName">Last Name</label>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="email">Email</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="phone">Phone Number</label>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "+#-##########" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="password">Password</label>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="confirmPassword">Confirm Password</label>
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password" })
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="col-md-6">
                        <h3>Shipping and Billing Information</h3>
                        <p>You can add this information later or during checkout</p>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="address1">Address Line 1</label>
                                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="address2">Address Line 2</label>
                                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="city">City</label>
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="state">State</label>
                                @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="zipCode">Zip Code</label>
                                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="countryRegion">Country/Region</label>
                                @Html.DropDownListFor(model => model.CountryRegion, HelperFunctions.CountryRegionList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="esh-catalog-items row">
                        <section class="esh-basket-item col-xs-push-8 col-xs-4">
                            <input type="submit" asp-action="Register"
                                   class="btn esh-basket-checkout"
                                   value="[ Register ]" name="action" />
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
